
html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#search_bar {
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 100;
}

#search_dropdown {
        padding: 0px;
        max-height: 300px;
        overflow: auto;
}

.drop_item {
        border-bottom: 1px solid #FFF;
        cursor: pointer;
        padding: 4px;
}

.drop_item:last-child {
        border-bottom: none;
}

.drop_item:hover {
        font-weight: bold;
}

#spinner {
	position: fixed;
	z-index: 1000;
	top: 50%;
	left: 50%;
}

#login_bar {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 100;
}

#user_img {
	width: 40px;
}

#stats {
	position: absolute;
	bottom: 0px;
	right: 0px;
	z-index: 100;
}

.stat {
	margin-right: 40px;
}

.stat img {
	vertical-align: top;
	margin-top: 30px;
	height: 60px;
}

.jumbo {
	font-size: 80px;
}

.unit {
	font-size: 30px;
}